{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title>Lead Management System</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<style>
    .bg {
        position: fixed;
        top: 0;
        left: 0;
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
</style>

<body class="body1">
    <img src="{% static 'bg.jpg' %}" class="bg" alt="">
    <nav class="navbar navbar-dark navbar-expand-md back">
        <a class="navbar-brand " href="#">
            <img src="https://logopond.com/logos/ec1ab766e91dae725febee6cfdcde86c.png" style="width:250px;height: 80px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">

        </div>
    </nav>
    <div class="container p-3">
        <table border="3" class="table table-light table-border border-dark" style="padding-top: 150px;">
            <thead class="">
                <tr>
                    <th class="th1">Name</th>
                    <th class="th1">Phone</th>
                    <th class="th1">Description</th>
                    <th class="th1">Address</th>
                    <th class="th1"></th>
                </tr>
            </thead>
            <tbody class="">
                {% for lead in leads %}
                <tr>
                    <form action="/update/{{lead.id}}/" method="POST">
                        {% csrf_token %}
                        <td>
                            <input type="text" class="btn border" name="name" value="{{lead.name}}">
                        </td>
                        <td>
                            <input type="text" class="btn border" disabled name="phone" value="{{lead.phone}}">
                        </td>
                        <td>
                            <input type="text" class="btn border" name="description" placeholder="What did you talk to the customer?" value="{{lead.description}}">
                        </td>
                        <td>
                            <input type="text" class="btn border" name="address" value="{{lead.address}}">
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>