{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lead Management System</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<style>
    .bg {
        position: fixed;
        top: 0;
        left: 0;
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
</style>

<body class="body1">
    <img src="{% static 'bg.jpg' %}" class="bg" alt="">
    <nav class="navbar navbar-dark navbar-expand-md back">
        <a class="navbar-brand " href="#">
            <img src="https://logopond.com/logos/ec1ab766e91dae725febee6cfdcde86c.png" style="width:250px;height: 80px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">

        </div>
    </nav>
    <div class="container p-3">
        <table border="3" class="table table-light table-border border-dark" style="padding-top: 150px;">
            <thead class="">
                <tr>
                    <th>#</th>
                    <th>Current Bid Price</th>
                    <th>Your Bid</th>
                    <th>Time Left</th>
                </tr>
            </thead>
            <tbody>
                {% for lead in leads %} {% if lead.timeleft > 0 %}
                <tr class="">
                    <td>{{lead.id}}</td>
                    <td>{{lead.price}}</td>
                    <td>
                        <form action="/change/{{lead.id}}/" method="POST">
                            {% csrf_token %}
                            <input type="number" name="bid"> {% if lead.timeleft > 0 %}
                            <button class="btn btn-danger" type="submit">Bid</button>
                            {% else %}
                            <button class="btn btn-danger" disabled type="submit">Bid</button>
                            {% endif %}
                        </form>
                    </td>
                    <td>
                        {{lead.timeleft}}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>