{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Lead Management System</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#">LDMS</a>
	</nav>
	<br/>
	<div class="container">
		<div class="card" id="card1">
			<div class="card-title text-center">
				<h1>Register</h1>
			</div>
			<div class="card-body">
				<form action="/addLead/" method='POST'>
					{% csrf_token %}
					<div class="form-group">
						<label for="num">Acquired</label>
						<input type="checkbox" class="form-control" id="num" placeholder="Enter Your Number" name="phone" required>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>